

@media screen and (max-width: 500px){
    /*----------------------------------Header*/
    #name{
        font-size: 2.5rem;
        text-align: center
    }
    #title {
        font-size: 1.5rem;
        text-align: center;
    }
    .download {
        display: none;
        
    }

    /*----------------------------------Navbar*/
    
    a.nav-link {
        font-size: 1.25rem;
        text-align: center;
    }

    .collapsing {
        background-color: #1c7191; 
        z-index: 2;
    }

    .show {
        background-color: #1c7191;
        z-index: 2;
    }


    nav a:focus {
        background-color: rgba(0, 0, 0, 0.3) !important;
    }

    .navbar-toggler {
        background: #1c7191;
        color: #fafafa;
    }
    
    /*----------------------------------index.html*/

    .avatar {
        display: none;
    }

    .about {
        padding-top: 25px;
    }

    .profile{
       padding-top: 100px;
    }

    .profile-p {
       width: 90%;
       height: 95%;
       float: center
    }
 
} 
