@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&family=Roboto&display=swap');

/*--------temp*/



/*----------------------------------------Header*/

header {
    background-color: #1c7191;
    background-image: url("../imgs/mountain-header-index.png");
    background-position: bottom;
    height: 100vh;
}

.heading{
    color: #fafafa;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    padding-top: 50% 
}

#name{
    font-size: 100px;
    
}
#title {
    font-size: 50px;
}
.download {
    font-size: 55px;
}
/*----------------------------------------Navbar
